﻿@model InsuranceT.Models.policy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policydesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policydesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medicalid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicalid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
