﻿@model InsuranceT.Models.EmployeeLogin

@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h2>Admin Login</h2>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Home", "Index")
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
