﻿@model IEnumerable<InsuranceT.Models.policy>

@{
    ViewBag.Title = "PolicyDetailsa";
}

<h2>PolicyDetailsa</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.policyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.policydesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicalid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.policyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.policydesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicalid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("CompanyDeatails", "PolicyDetailsa", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<div>
    <h4>company details</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var policy in ViewData["policy"] as IList<InsuranceT.Models.policy>)
        {
            <dt>
                CompanyId
            </dt>

            <dd>
                @policy.Id
            </dd>

            <dt>
                CompanyName
            </dt>

            <dd>
                @policy.Company.CompanyName
            </dd>

            <dt>
                Address
            </dt>

            <dd>
                @policy.Company.Address
            </dd>

            <dt>
                Phone
            </dt>

            <dd>
                @policy.Company.Phone
            </dd>

            <dt>
                CompanyURL
            </dt>

            <dd>
                @policy.Company.CompanyURL
            </dd>
        }

        @Html.ActionLink("Apply", "RequestList")

    </dl>
</div>